.acme__main{
    height: 100%;
    background-color: rgb(0, 0, 0, .07);
}
.acme__main-nav{
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0,0,0,.2);
    height: 3rem;
}
.acme__main-title{
    color: rgb(42, 41, 41);
    background-color: #fff;
    box-shadow: 0 0 02px rgb(0,0,0,.2);
    text-align: left;
    width: 90%;
    margin: 1rem ;
    border-radius: 5px;
    padding: 5px;
}
.acme__main-content{
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0,0,0,.2);
    margin-left: 1rem;
    height: 100%;
}
.acme__main-content_ArticleA{
    background-color: rgb(0, 0, 0, .07);
    padding-bottom: .5rem;
    margin: 0 2rem;
    height: fit-content;

}
.acme__main-content_text, .acme__main-content_image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.del__icon{
  background-color: white;
  padding: 2px;
  box-shadow: 0 0 2px rgb(0,0,0,.2);
  font-size: 1.5rem;
  margin: 10px;
}
.acme__main-content_ArticleB{
    background-color: rgb(0, 0, 0, .07);
    padding-bottom: 1rem;
    margin: 1rem 2rem;  
}
.acme__main-content_ArticleA span
.acme__main-content_ArticleB span{
    margin-left: 5px;
    font-size: 14px;
}
.acme__main-content__blogA{
    background-color: white;
    box-shadow: 0 0 2px rgb(0,0,0,.2);
    border-radius: 5px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-block: 1.5rem;
    padding: 1rem;
}
.acme__main-content__blogA h3{
    margin-bottom: 10px;
}
.acme__main-content__blogA{
 font-size: 14px;
}
.acme__main-add_block{
    background-color: white;
    box-shadow: 0 0 2px rgb(0,0,0,.2);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 1rem;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    cursor: pointer;
}
.acme__main-content_upload-image{
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 14px;
    padding: 0 1rem;
}
.acme__main-content_upload-caption{
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 14px;
    padding: 0 1rem; 
    margin-top: 2rem;
}
.acme__main-content_upload-caption input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.acme__main-content_upload-image input{
    display: none;
}
.acme__main-content_upload-image label{
    border: 1px dashed rgb(53, 51, 51);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 10px 20px;

}
.acme__main-content_upload-image span{
    color: red;
}