.acme__sidebar {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    
}
.acme__sidebar-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.15);
}
 .acme__sidebar-top h3{
    background-color: tomato;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
 }
 .acme__sidebar-top p{
    font-weight: 700;
 }
.acme__sidebar-content {
    margin-left: 1rem;
}
.acme__sidebar-content > div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
    transition: all 400ms ease-in-out;
}
.acme__sidebar-content > div:hover{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
   margin-left: 1rem;
}
.acme__sidebar-content p:first-child{
    font-size: 22px;
}

