*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
  }
  :root{
    --box-shadow: 2px 2px 5px rgb(26, 25, 25, .2);
    --body-bg : rgb(202, 222, 238);
  }
  .acme__body{
  display: grid;
  grid-template-columns: 20% auto 25%;
  place-items: center;
  background-color:#faf8f8;
  width: 100vw;
  height: 100vh;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  }
  